body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    109deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 147, 150, 1) 100%
  );
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

#title {
  margin-top: 20px;
}

h1 {
  font-size: 64px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

p {
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2px;
  margin-top: 10px;
}

h2 {
  font-size: 30px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}

ol,
ul {
  margin-top: 5px;
}

li {
  font-size: 25px;
}

img {
  width: 200px;
}
