body {
  background: rgb(5, 187, 255);
  background: linear-gradient(110deg, #05bbff 50%, #00fbff 50%);
}

#title {
  margin-top: 20px;
  border: solid black;
  padding: 10px;
}

#image {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #40739e;
  border: black solid;
  border-radius: 10px;
}

#image:hover {
  opacity: 0.6;
  transition: 300ms ease-out;
}

#img-margin {
  margin-top: 10px;
  border-radius: 15px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
}

.card-size {
  width: 20%;
}

.card-text {
  font-family: "Pangolin", cursive;
  font-size: 25px;
  text-align: center;
  color: black;
}

.card {
  margin-top: 20px;
  margin-bottom: 5px;
}

.bi {
  margin-top: 5px;
  margin-bottom: 20px;
}

#anchor {
  text-decoration: none;
}

img {
  object-position: top;
  object-fit: cover;
}
